.highlights-item-container {
    .highlight-item {
        display: flex;
        margin-bottom: 50px;
        &-icon {
            width: 50px;
            margin-right: 10px;
        }
        &-title {
            text-transform: uppercase;
            font-size: $fontsize-mlg;
            color: $grey95;
            font-weight: $font-weight-bold;
        }
    }
}
