#chooseBonusProductModal {
    .bonus-product-item {
        border-bottom: 2px solid $slightly-darker-gray;

        &:last-child {
            border: none;
        }

        &.selected {
            background: $primary;
            border-color: $primary;
        }

        .size-container {
            .dropdown-item {
                &.disabled {
                    opacity: 0.5;

                    @include hover-focus-active() {
                        cursor: default;
                    }
                }
            }
        }
    }

    .image-gallery {
        .productPicturebox {
            ul {
                width: 220px;
                padding-left: 0;
                margin-top: 20px;

                picture {
                    min-height: 250px;
                }
            }

            .otherPictures {
                display: none;
            }
        }

        .product-detail-badge,
        .product-detail-wishlist {
            display: none;
        }
    }

    .bonus-product-price {
        padding: 10px;
    }

    .selected-bonus-products {
        .selected-pid {
            margin-top: 5px;
            border-top: 1px solid $slightly-darker-gray;

            .bonus-product-name {
                padding-left: 0;
            }
        }
    }
}
