.test-racket-actions {
    a:hover {
        text-decoration: none;
    }

    .buy-now,
    .info {
        border: solid 2px $grey95;

        span {
            font-weight: bold;
            font-size: $fontsize-base;
            color: $grey95;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            line-height: 30px;

            &::before {
                content: '';
                display: inline-block;
                width: 31px;
                height: 28px;
            }
        }

        &:hover,
        &:focus {
            background-color: $grey2;
        }

        &:active {
            background-color: $grey95;

            &::before {
                filter: invert(100%);
            }

            span {
                color: $white;
            }
        }
    }

    .buy-now span::before {
        background: url(../images/product/icon-basket-2.svg) no-repeat center; // TODO-REDESIGN upload correct icons
    }

    .info span::before {
        background: url(../images/product/icon-info-circled-2.svg) no-repeat center; // TODO-REDESIGN upload correct icons
    }
}
